<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="style.css" />
  <title></title>
 </head>
 <body>
     <!-- ex1 -->
x<input type="text" id="x">
<br>
<br>
y<input type="text" id="y">
<button id="suma"> Suma</button>
<div id="rezultat"> </div>
<hr><!-- ex1.2 -->
<button id="schimbare">Schimbarea</button>
<hr><!-- ex2 -->
<div id="container" > </div>
<hr><!-- ex3 -->
<p> ”Paragraful NR {{i}}”, 1<=i<=10</p>
<p> ”Paragraful NR {{i}}”, 1<=i<=10</p>
<p> ”Paragraful NR {{i}}”, 1<=i<=10</p>
<p> ”Paragraful NR {{i}}”, 1<=i<=10</p>
<p> ”Paragraful NR {{i}}”, 1<=i<=10</p>
<p> ”Paragraful NR {{i}}”, 1<=i<=10</p>
<p> ”Paragraful NR {{i}}”, 1<=i<=10</p>
<p> ”Paragraful NR {{i}}”, 1<=i<=10</p>
<p> ”Paragraful NR {{i}}”, 1<=i<=10</p>
<p> ”Paragraful NR {{i}}”, 1<=i<=10</p>
<hr>
<button id="sterg">Stergerea</button>
<hr> <!-- ex7 -->
<div class="cerc"></div>
<div class="cerc"></div>
<div class="cerc"></div>
<div class="cerc"></div>
<div class="cerc"></div>
<div class="cerc"></div>
<div class="cerc"></div>
<div class="cerc"></div>
<div class="cerc"></div>
<div class="cerc"></div>
<hr><!-- ex11 -->
<button> contor 1 </button>

<script src="script.js"></script>
 </body>
</html>