#container{
    width: 100px;
    height: 100px;
    background-color: brown;
}
.verde{
    background-color: aquamarine;
}
.cerc{
    width: 30px;
    height: 30px;
    background-color: black;
    margin-top: 10px;

}